on:
  release:
    types: [published]

jobs:
  release:
    permissions:
      contents: write
    concurrency:
      group: release-${{ github.ref }}
      cancel-in-progress: false
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: x86_64-apple-darwin
            os: macos-latest
          - target: x86_64-pc-windows-msvc
            os: windows-latest
    runs-on: ${{ matrix.os }}
    name: release ${{ matrix.target }}
    steps:
      - uses: actions/checkout@v6 # TODO: pin to a full commit SHA.
      - name: Compile and release
        uses: taiki-e/upload-rust-binary-action@v1 # TODO: pin to a full commit SHA.
        with:
          include: "README.md,LICENSE,scene-definitions,resources"
          target: ${{ matrix.target }}
          token: ${{ secrets.GITHUB_TOKEN }}
          bin: 'gr_raytracer'
